html {
  margin: 0;
  padding: 0;
  background: rgb(250, 250, 250);
  width: 500px;
}
#app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 400px 60px;
  grid-gap: 3px;
  height: 100%;
  width: 100%;
  color: rgb(77, 77, 77);
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-left: -30px;
  font-size: 1.5rem;
  white-space: nowrap;
}
#logo {
  grid-column: 1 / 6;
  grid-row: 1 / span 1;
}
#logo > img {
  height: 80px;
  width: auto;
}
#name {
  grid-column: 7 / -1;
  grid-row: 1 / span 1;
}
#content {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
}
.event {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  min-height: 40px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(225, 225, 225);
  box-shadow: 0px 2px 1px #97C6A8,
  0px 2px 3px rgba(0,0,0,0.35),
  0px 3px 5px rgba(0,0,0,0.15);

}
.event:hover {
  background: rgb(188, 231, 188);
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.toggle {
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
  user-select: none;
}
.toggle__input {
  display: none;
}
.toggle__button {
  position: relative;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  background: white;
  color: #aaa;
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.toggle__input:checked + .toggle__button {
  background: #97C6A8;
  border-color: #97C6A8;
  color: white;
}
#footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  padding: 0 20px;
  margin-top: 20px;
}
i {
  cursor: pointer;
  text-shadow: 1px 1px #97C6A8;
}
i:hover {
  text-shadow: 2px 2px #97C6A8;
}
i:last-child:hover {
  animation: spin 4s infinite linear;
}
i:active {
  transform: scale(0.92);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
